<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SavoirApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        .navbar{
            background-color:rgb(172,172,189);
        }
        .footer{
            background-color:rgb(172,172,189);
        }  
</style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container">
                <p class="site-title">
                 <a href="@Url.Action("Index", "Home")">
                 <img src="https://scontent.fsjj1-1.fna.fbcdn.net/v/t1.15752-9/286354184_581220110099533_4883454457575898217_n.png?stp=cp0_dst-png&_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_ohc=lZF6nMnkJjEAX8TXHh2&_nc_ht=scontent.fsjj1-1.fna&oh=03_AVL0SMha_-Qw0WGl9HCjT7zFwfGzq4W4M9Pk6xPw-rg8eQ&oe=62C87BD6" alt="" />
                 </a>
                </p>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">SaveThePlanet!</a>
                        </li>

                        @if (User.IsInRole("VIPUser"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Wishlists" asp-action="Index">Wishlist</a>
                            </li>
                        }
                        @if (User.IsInRole("User") || User.IsInRole("VIPUser") || User.IsInRole("Admin") || User.IsInRole("RegisteredUser"))

                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Items" asp-action="Cart">Cart</a>
                            </li>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("Deliverer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Items" asp-action="Index">Shop Now!</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white">
        <div class="container">
            &copy; 2022 - SavoirApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">SaveThePlanet!</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
