@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        color: snow;
        background-image: url("https://data.whicdn.com/images/362708827/original.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div style="height: 50em; overflow: hidden">
    
    
</div>
