@{
    ViewData["Title"] = "Save the Planet!";
}

<div style="margin-top: 2%; color: darkgray; font-size: 1.5em">
    <h1 style="text-align:center">WEAR THE CHANGE YOU WANT TO SEE</h1>
</div>

<div style="height: 31em; overflow: hidden">
 <img src="https://media.wearpact.com/about/202009/cotton_1920_med.jpg" style="width: 100%">
</div>

<div style="margin-top: 2%; color: darkgray; font-size: 1.5em">
<hr>
<h2>In it for the long-haull!</h2>
<p>In order to make smart, long-term improvements to our products and practices, we've identified six key commitments, wich will arry us through 2025</p>
<hr>
<hr>
<h2>Measure our carbon footprint!</h2>
<p>We aim to measure our carbon footprint and establish reduction targets by 2025.</p>
<hr>
<hr>
<h2>Use greener packaging!</h2>
<p>We make sure our packaging is made with at least 80% recycled materials and we soure 100% of our packaging from sustainably managed forests.</p>
<hr>
</div>
